[submodule "tfc-transfer-validator"]
	path = tfc-transfer-validator
	url = https://github.com/the-final-codedown/tfc-transfer-validator
[submodule "tfc-cap-updater"]
	path = tfc-cap-updater
	url = https://github.com/the-final-codedown/tfc-cap-updater
[submodule "tfc-savings"]
	path = tfc-savings
	url = https://github.com/the-final-codedown/tfc-savings
[submodule "tfc-profile"]
	path = tfc-profile
	url = https://github.com/the-final-codedown/tfc-profile
