[submodule "tfc-transfer-validator"]
	path = tfc-transfer-validator
	url = https://github.com/the-final-codedown/tfc-transfer-validator
[submodule "tfc-cap-updater"]
	path = tfc-cap-updater
	url = https://github.com/the-final-codedown/tfc-cap-updater
[submodule "tfc-bank"]
	path = tfc-bank
	url = https://github.com/the-final-codedown/tfc-bank