[submodule "tfc-transfer-validator"]
	path = tfc-transfer-validator
	url = https://github.com/the-final-codedown/tfc-transfer-validator
[submodule "tfc-cap-updater"]
	path = tfc-cap-updater
	url = https://github.com/the-final-codedown/tfc-cap-updater
[submodule "tfc-bank"]
	path = tfc-bank
	url = https://github.com/the-final-codedown/tfc-bank
[submodule "tfc-savings"]
	path = tfc-savings
	url = https://github.com/the-final-codedown/tfc-savings.git
[submodule "tfc-rolling-history"]
	path = tfc-rolling-history
	url = https://github.com/the-final-codedown/tfc-rolling-history.git
[submodule "tfc-account"]
	path = tfc-account
	url = https://github.com/the-final-codedown/tfc-account.git
[submodule "tfc-profile"]
	path = tfc-profile
	url = https://github.com/the-final-codedown/tfc-profile.git
[submodule "tfc-tdd"]
	path = tfc-tdd
	url = ./tfc-tdd
