version: '3'

services:

  bank:
    image: tfc/bank
    build: ./tfc-bank
    ports:
    - 8081:8081
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/tfc
      kafkabroker: broker:29092
    networks:
      - backend
    container_name: tfc-bank

networks:
  backend:
